:root {
  --page-background-color:#FFFFFF;
  --primery-font:"Roboto", sans-serif;
  --secondary-font:"Raleway", sans-serif;
  --accent-color: #404BBF;
  --primery-text-color:#434455;
  --secondary-text-color:#2e2f42;
  --primary-font-size:16px;
  --primary-line-height: 1.5;
  --primary-letter-spacing: 0.02em;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primery-font);
  color: var(--primery-text-color);
  background-color: var(--page-background-color);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}
/* ==================COMPONENTS================= */

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.accent-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  color: #f4f4fd;
}
.list-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--secondary-text-color);
}
.description-text {
  color: var(--primery-text-color);
}

.footer-text {
  color: #F4F4FD;
}
.list-img {
  
  max-width: 100%;
  
}
/* ==================/COMPONENTS================ */
/* HEADER */
.menu-link {
  font-weight: 500;
  color: var(--secondary-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.address {
font-style: normal;
}
.menu-link-contact {
  font-style: normal;
  font-weight: 400;

  color: #434455;
}
.menu-link-contact:hover,
.menu-link-contact:focus {
  color: var(--accent-color);
}

.title-secondary {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--primary-letter-spacing);
}
/* ==============HEADER================ */
/* ==============HERO================== */
.hero {
  background-color:var(--secondary-text-color)
}
.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: #FFFFFF;
}
.main-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background: var(--accent-color);
}

/* ===============SOLUTIONS============== */

/* ==============WHAT WE DOING============= */



/* ==============EMPLOYEES================= */
.team {
  color: var(--secondary-text-color);
  background-color: #F4F4FD;
  text-align: center;
  text-transform: capitalize;
}
.team-item {
  background-color: #FFFFFF;
}

/* FOOTER */
.footer {
  background-color: var(--secondary-text-color);
}
/* ++++++++++++P--0--R--T--F--L--I--O++++++++++++++++++++++ */

/* ========================HEADER==================== */

/* ========================MAIN==================== */
.button-filter {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #F4F4FD;
  cursor: pointer;
}
.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background: var(--accent-color);
}
.progecrt-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #2e2f42;
}

/* ==================FOOTER================= */
